@{
    ViewData["Title"] = "FiltroPorNomTer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/filtros.css")" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            @if (Model != null && Model.Count > 0)
            {
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <form asp-action="FiltroPorCodTer" asp-controller="CTerceros" method="post">
                                <div class="d-flex justify-content-center">
                                    <input class="form-control m-1" type="number" name="codTer" placeholder="codigo tercero">
                                    <button type="submit" class="btn btn-primary m-1">Buscar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 px-1">
                            <form asp-action="FiltroPorNomTer" asp-controller="CTerceros" method="post">
                                <div class="d-flex justify-content-center">
                                    <input class="form-control m-1" type="text" name="nomTer" placeholder="Nombre">
                                    <button type="submit" class="btn btn-primary m-1">Buscar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 px-1">
                        </div>
                        <div class="col-md-2 px-1">
                            <button onclick="zoomIn()" class="btn btn-secondary m-2">+</button>
                            <button onclick="zoomOut()" class="btn btn-secondary m-2">-</button>
                        </div>
                    </div>
                    <table id="miTabla">
                        <thead>
                            <tr>
                                <th>CÉDULA</th>
                                <th>NOMBRE</th>
                                
                                <th>FECHA DE INGRESO</th>
                                <th>FECHA PRIMER APORTE</th>
                                <th>FECHA MINISTERIO</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.COD_TER</td>
                                    <td>@item.NOM_TER</td>
                                    
                                    <td>@item.FEC_ING</td>
                                    <td>@item.FEC_APORT</td>
                                    <td>@item.FEC_MINIS</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action="previewcinco" asp-controller="ccinco" method="post">
                        <input type="hidden" name="cedula" value=@Model[0].COD_TER>
                        <button class="btn btn-primary d-block" type="submit">Ir a CINCO</button>
                    </form>
                </div>

            }
            else
            {
                <p>No se encontraron datos</p>
            }            
        </div>
    </div>
</div>
<script src="@Url.Content("~/js/zoom.js")"></script>



