
@{
    ViewData["Title"] = "GetDistritos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	<link rel="stylesheet" href="@Url.Content("~/css/tablas.css")" />
<div class="body">
	<div class="d-md-flex justify-content-md-end">
						<button onclick="zoomIn()" class="btn btn-outline-secondary m-2">+</button>
						<button onclick="zoomOut()" class="btn btn-outline-secondary m-2">-</button>
				</div>
	<table id="miTabla">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nombre</th>
				<th>Detalle</th>
				<th>Compuest</th>
				<th>Cod Supervisor</th>
				<th>Cod Asesor Corpen</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.COD_DIST</td>
					<td>@item.NOM_DIST</td>
					<td>@item.DETALLE</td>
					<td>@item.COMPUEST</td>
					<td>@item.COD_SUPERVISOR</td>
					<td>@item.COD_ASESORCORPEN</td>
				</tr>
			}
		</tbody>
	</table>
</div>
	<script src="@Url.Content("~/js/zoom.js")"></script>
}
