@{
    ViewData["Title"] = "FiltroCedula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <link rel="stylesheet" href="@Url.Content("~/css/filtros.css")" /> *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                @if (TempData["Respuesta"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Respuesta"]
                    </div>
                }
                @if (Model != null && Model.Count > 0)
                {
                    <div class="card-header">
                        <h5 class="card-category">@Model[0].codTer</h5>
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title" id="dataReg"></h4>
                            <button type="button" class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" id="botonFec">
                                Verificar fecha de calculo
                            </button>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $.ajax({
                            @*url: '@Url.Action("NombreCedula", "CTerceros")',*@
                                    url: '@Url.Action("NombreCedula", "CPastores")',
                                    type: 'GET',
                                    data: { cedula: @Model[0].codTer },
                                    success: function (result) {
                                        //console.log(result)
                                        $('#dataReg').text(result["nombre"])
                                    },
                                    error: function () {
                                        console.log("Error al llamar al método");
                                    }
                                                            });
                                                        });
                        </script>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>Fecha de calculo</label>
                                    <div class="form-control">@Model[0].fechaParaCalculo</div>
                                    @* <input type="text" class="form-control" placeholder="Company" value="Creative Code Inc."> *@
                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    @if (@Model[0].verficacion == "True") //esta en string, ponerlo a BOOL
                                    {
                                        <label>Estado</label>
                                        <div class="form-control btn btn-success py-1">VERIFICADO</div>
                                    }
                                    else
                                    {
                                        <label>Estado</label>
                                        <div class="form-control btn btn-danger py-1">SIN VERIFICAR</div>
                                    }

                                </div>
                            </div>
                            <div class="col-md-3 px-1">
                                <div class="form-group">
                                    <label>Verficacion Fecha</label>
                                    <div class="form-control">@Model[0].verficacionFecha</div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-1">
                                <div class="form-group">
                                    <label>Verficacion Usuario</label>
                                    <div class="form-control">@Model[0].verficacionUsuario</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th>
                                    Plus
                                </th>
                                <th>
                                    Total Plus
                                </th>
                                </thead>
                                <tbody>
                                    @{
                                        List<string> without = new List<string> { "codTer", "fechaParaCalculo", "verficacion", "verficacionFecha", "verficacionUsuario", };
                                    }

                                    @foreach (var propertyInfo in typeof(MRetirosListado).GetProperties())
                                    {
                                        string propertyName = propertyInfo.Name;
                                        if (!without.Contains(propertyName))
                                        {
                                            @if (String.CompareOrdinal(propertyName, "liquidacion2017") >= 0)
                                            {
                                                var liquidacionList = (List<string>)propertyInfo.GetValue(Model[0]);
                                                if (liquidacionList != null && liquidacionList[0] != null)
                                                {
                                                    <tr>
                                                        <td>@propertyInfo.Name</td>
                                                        <td>@(liquidacionList.Count > 0 ? liquidacionList[0] : "")</td>
                                                        <td>@(liquidacionList.Count > 0 ? liquidacionList[1] : "")</td>
                                                        <td>@(liquidacionList.Count > 0 ? liquidacionList[2] : "")</td>
                                                    </tr>
                                                }
                                            }
                                            else if (@propertyInfo.GetValue(Model[0]) != null)
                                            {
                                                <tr>
                                                    <td>@propertyName</td>
                                                    <td>@propertyInfo.GetValue(Model[0])</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <div class="text-right form-control btn btn-outline-primary w-25">@Model[0].totalLiquidaciones</div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <p>No se encontraron datos con esa cedula</p>
                }

                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Actualizar Fecha de calculo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @{
                                    var nombreUsuario = ViewContext.HttpContext.User.Identity.Name;
                                }
                                <p id="fechaCalculoData"></p>
                                <input type="hidden" id="verficacionUsuario" name="verficacionUsuario" value="@nombreUsuario" />
                                <input type="hidden" id="codTer" name="codTer" value="@Model[0].codTer" />
                                <div class="mb-3">
                                    <input type="date" class="form-control" id="fechaParaCalculo" name="fechaParaCalculo">
                                    <div class="form-group mt-2">
                                        <label>Observacion Actualización</label>
                                        <input type="text" class="form-control" id="ObservacionActualizacion" name="ObservacionActualizacion">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                Esta seguro que desea actualizar
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="confirmarEnvioBene" class="btn btn-primary">Si</button>
                                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#confirmarEnvioBene').click(function () {
                        //console.log("en el boton");
                        $.ajax({
                            url: '@Url.Action("Update", "CRetirosListado")',
                            type: 'POST',
                            data: {
                                verficacionUsuario: $('#verficacionUsuario').val(),
                                codTer: $('#codTer').val(),
                                fechaParaCalculo: $('#fechaParaCalculo').val(),
                                ObservacionActualizacion: $('#ObservacionActualizacion').val()
                            },
                            success: function (result) {
                                if (result.redirectUrl) {
                                    window.location.href = result.redirectUrl;
                                }
                            },
                            error: function () {
                                console.log("Error al llamar al método");
                            }
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</div>

@*     <script src="@Url.Content("~/js/zoom.js")"></script> *@
@* <script src="~/js/zoom.js"></script> *@
