@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<link rel="stylesheet" href="@Url.Content("~/css/tablas.css")" />
	
	<div class="d-flex flex-row">
		<form asp-action="FiltroPorCedula" asp-controller="CPastores" method="post">
			<div class="d-flex justify-content-center">
				<input class="form-control m-3" type="number" id="inputCedula" name="cedula" placeholder="Ingrese la cedula">
				<button type="submit" class="btn btn-primary m-3">Buscar</button>
			</div>
		</form>
		<form asp-action="FiltroPorNombre" asp-controller="CPastores" method="post">
			<div class="d-flex justify-content-center">
				<input class="form-control m-3" type="text" name="nombre" placeholder="Ingrese nombre">
				<button type="submit" class="btn btn-primary m-3">Buscar</button>
			</div>
		</form>
	</div>

	<div class="body">
		<table id="miTabla">
			<thead>
				<tr>
					<th>CÉDULA</th>
					<th>NOMBRE</th>
					<th>CONTACTO</th>
					<th>EMAIL</th>
					<th>DIRECCIÓN</th>
					<th>NOMBRE CONGREGACIÓN</th>
					<th>DISTRITO</th>
					<th>FECHA NACIMIENTO</th>
					<th>ESTADO PASTOR</th>
					<th>CLASE PASTOR</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
						<tr>
							<td>@item.cedula</td>
							<td>@item.nombre</td>
							<td>@item.contacto</td>
							<td>@item.email</td>
							<td>@item.direccion</td>
							<td>@item.nombreCongregacion</td>
							<td>@item.distrito</td>
							<td>@item.fechaNacimiento</td>
							<td>@item.estadoPastor</td>
							<td>@item.clasePastor</td>

						</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<button onclick="zoomIn()">+</button>
		<button onclick="zoomOut()">-</button>
	</div>

	<script src="@Url.Content("~/js/zoom.js")"></script>
}

