﻿@{
    ViewData["Title"] = "CincoData";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="@Url.Content("~/css/CincoStyles.css")" />
</head>
<body>
    <style>

    </style>
    <div class="body">
        <div id="informacion">
            <div class="datos">
                <h2>@Model[0].cedula</h2>
                <h2>@Model[0].nombre</h2>
            </div>
            <div class="infoDatos">
                <div><strong>Hora:</strong>@DateTime.Now.ToString("h:mm tt")</div>
                <div><strong>Fecha:</strong>@DateTime.Now.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
        <div class="seperadorBorde"></div>
        @{string cuentaAnterior = Model[0].cuenta;}
        <table class="tablaDatos">
            <tr>
                <th>Comprobante</th>
                <th>Num Comprobante</th>
                <th>Fecha</th>
                <th>Observacion</th>
                <th>Debitos</th>
                <th>Creditos</th>
            </tr>
            <tr>
                <th colspan="6" style="text-align: left;">@Model[0].cuenta @Model[0].CuentaDescripcion</th>
            </tr>
            @{
                double debito = 0;
                double credito = 0;
            }
            @foreach (var item in Model)
            {
                if (item.cuenta != cuentaAnterior)
                {
                    <tr>

                        <td colspan="5"><strong>TOTAL CUENTA: </strong>        Total débito: @debito</td>
                        <td>Total crédito: @credito</td>
                    </tr>
                    <tr class="separadorBorder">
                        <td colspan="6"><div class="seperadorBorde"></div> </td>
                    </tr>
                    <tr>
                        <th colspan="6" style="text-align: left;">@item.cuenta @item.CuentaDescripcion</th>
                    </tr>
                    debito = 0;
                    credito = 0;
                }
                <tr>
                    <td>@item.codComprobante</td>
                    <td>@item.numComprobante</td>
                    <td>@item.fecha</td>
                    <td>@item.observacion</td>
                    <td>@item.valorDebitos</td>
                    <td>@item.valorCreditos</td>
                </tr>
                float valorDebito;
                if (float.TryParse(item.valorDebitos, out valorDebito))
                {
                    debito += valorDebito;
                }
                credito += double.Parse(item.valorCreditos);
                cuentaAnterior = item.cuenta;
            }
            <tr>
                <td colspan="5"><strong>TOTAL CUENTA: </strong> Total débito: @debito</td>
                <td>Total crédito: @credito</td>
            </tr>
        </table>
    </div>

</body>
</html>
