@{
    //@model WebApplication2.Models.ReporteDatosCinco
    ViewData["Title"] = "Cinco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/cincocss.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">CINCO</h5>
                @* <p class="category">Handcrafted by our friends from <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a></p> *@
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <form asp-action="previewcinco" asp-controller="ccinco" method="post">
                            <div class="input-group no-border">
                                <input type="text" name="cedula" class="form-control" placeholder="Número de Cedula...">
                                <button type="submit" class="btn btn-primary m-1">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-2">
                    @if (Model != null && Model.Count > 0)
                    {
                        string cuentaAnterior = Model[0].cuenta;
                        <div id="informacion" class="col-9 d-flex justify-content-around">
                            <h3>@Model[0].cedula </h3>
                            <h3 id="nombre"> @Model[0].nombre</h3>
                        </div>

                        var nombreUsuario = ViewContext.HttpContext.User.Identity.Name;
                        @using WebApplication2.Repo
                        RUsuario _user = new RUsuario();
                        bool Permiso = _user.VerificarRol(nombreUsuario, 1); // Ajusta los valores según tus necesidades
                        if (Permiso)
                        {
                            <div class="col-3">
                                <button type="button" class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" id="botonFec">
                                    @* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"></path>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"></path>
                            </svg> *@
                                    Verificar fecha de calculo
                                </button>
                            </div>
                        }                        


                        <div class="accordion-item" id="accordion1">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false" aria-controls="panelsStayOpen-collapse1">
                                    <strong>@Model[0].cuenta </strong> _ @Model[0].CuentaDescripcion
                                </button>
                            </h2>
                        </div>
                        <!-- a = id del acordeon -->
                        int a = 2;

                        var contadorejemplo = 0;
                        @foreach (var item in Model)
                        {
                            @if (item.cuenta != cuentaAnterior)
                            {

                                <div class="accordion-item" id="accordion@(a)">
                                    <h2 class="accordion-header">
                                        <input type="hidden" value="0" id="contador0">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse@(a)" aria-expanded="false" aria-controls="panelsStayOpen-collapse@(a)">
                                            <strong>@item.cuenta </strong> _ @item.CuentaDescripcion
                                        </button>
                                    </h2>
                                    @{
                                        a++;
                                    }
                                </div>

                            }
                            cuentaAnterior = item.cuenta;
                        }

                        <form asp-action="GenerarPDF" asp-controller="CCinco" method="post">
                            <input type="hidden" name="cedula" value="@Model[0].cedula" />
                            <input type="hidden" name="nombre" value="@Model[0].nombre" />
                            <button class="btn btn-primary" id="botonPDF" type="submit">Generar PDF</button>
                        </form>

                        @* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Fecha de calculo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p id="fechaCalculoData"></p>
                    <form asp-action="Update" asp-controller="CRetirosListado" method="post">
                    @{
                    var nombreUsuario = ViewContext.HttpContext.User.Identity.Name;
                    }
                    <input type="hidden" name="verficacionUsuario" value="@nombreUsuario" />
                    <input type="hidden" name="codTer" value="@Model[0].cedula" />

                    <div class="mb-3">
                    <input type="date" class="form-control" id="recipient-name" name="fechaParaCalculo">
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <h4>@Html.Raw(TempData["Respuesta"])</h4>
                    </div>
                    </div>
                    </div>
                    </div> *@

                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Actualizar Fecha de calculo</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        <p id="fechaCalculoData"></p>
                                        <input type="hidden" id="verficacionUsuario" name="verficacionUsuario" value="@nombreUsuario" />
                                        <input type="hidden" id="codTer" name="codTer" value="@Model[0].cedula" />
                                        <div class="mb-3">
                                            <input type="date" class="form-control" id="fechaParaCalculo" name="fechaParaCalculo">
                                            <div class="form-group mt-2">
                                                <label>Observacion Actualización</label>
                                                <input type="text" class="form-control" id="ObservacionActualizacion" name="ObservacionActualizacion">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Esta seguro que desea actualizar
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="confirmarEnvioBene" class="btn btn-primary">Si</button>
                                        <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <script>
                            $(document).ready(function () {
                                $('#botonFec').click(function () {
                                    $.ajax({
                                        url: '@Url.Action("ObtenerFechaCalculo", "CCinco")',
                                        type: 'GET',
                                        data: { cedula: @Model[0].cedula},
                                        success: function (result) {
                                            //console.log(result)
                                            $('#fechaCalculoData').html("<strong>@Model[0].nombre</strong> fecha: " + result["fechaCalculo"])
                                        },
                                        error: function () {
                                            console.log("Error al llamar al método");
                                        }
                                    });
                                });
                            });

                            $('#confirmarEnvioBene').click(function () {
                                //console.log("en el boton");
                                $.ajax({
                                    url: '@Url.Action("Update", "CRetirosListado")',
                                    type: 'POST',
                                    data: {
                                        verficacionUsuario: $('#verficacionUsuario').val(),
                                        codTer: $('#codTer').val(),
                                        fechaParaCalculo: $('#fechaParaCalculo').val(),
                                        ObservacionActualizacion: $('#ObservacionActualizacion').val()
                                    },
                                    success: function (result) {
                                        if (result.redirectUrl) {
                                            window.location.href = result.redirectUrl;
                                        }
                                    },
                                    error: function () {
                                        console.log("Error al llamar al método");
                                    }
                                });

                            });
                        </script>
                    }
                    else
                    {
                        <p>No se encontraron datos con esa cedula</p>
                    }

                    <script>
                        var modelo = @Json.Serialize(Model)
                            cuentas =[];
                        var botones = document.getElementsByClassName("accordion-button");
                        for (var i = 0; i < botones.length; i++) {
                            var texto = botones[i].textContent.trim();

                            var contenedor = document.getElementById("accordion" + (i + 1));
                            var divCollapse = document.createElement("div");
                            divCollapse.id = "panelsStayOpen-collapse" + (i + 1);
                            divCollapse.classList.add("accordion-collapse", "collapse");
                            var divBody = document.createElement("div");
                            divBody.classList.add("accordion-body");

                            var Tabla = document.createElement("table");
                            Tabla.id = "tablaData" + (i + 1);
                            Tabla.classList.add("tablaDatos");
                            divBody.appendChild(Tabla);

                            var divContador = document.createElement("div");
                            divContador.classList.add("text-end");
                            divContador.id = "divContador" + (i + 1);
                            divBody.appendChild(divContador);

                            divCollapse.appendChild(divBody);
                            contenedor.appendChild(divCollapse);

                            
                            llamarCuenta(texto.split(" ")[0], Tabla, i);
                            //llamarCuenta("416542", Tabla, i);
                        }

                        function llamarCuenta(c, tabla, index) {
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("PorCuenta", "CCinco")",
                                data: { cuenta: c, cedula: $('#codTer').val() },
                                success: function (response) {
                                    var debitosCont = 0;
                                    var creditosCont = 0;

                                    var encabezado = document.createElement("tr");
                                    encabezado.innerHTML = `
                                                                <th>Comprobante</th>
                                                                <th>Num Comprobante</th>
                                                                <th>Fecha</th>
                                                                <th>Observacion</th>
                                                                <th>Debitos</th>
                                                                <th>Creditos</th>`;
                                    tabla.appendChild(encabezado);

                                    for (var i = 0; i < response.length; i++) {
                                        var modelo = response[i];
                                        var filadatos = document.createElement("tr");
                                        filadatos.innerHTML = "<td>" + modelo.codComprobante + "</td>" +
                                            "<td>" + modelo.numComprobante + "</td>" +
                                            "<td>" + modelo.fecha + "</td>" +
                                            "<td>" + modelo.observacion + "</td>" +
                                            "<td>" + modelo.valorDebitos + "</td>" +
                                            "<td>" + modelo.valorCreditos + "</td>";
                                        tabla.appendChild(filadatos);
                                        
                                        debitosCont = debitosCont + parseInt(modelo.valorDebitos)
                                        creditosCont = creditosCont + parseInt(modelo.valorCreditos)
                                        
                                    }   
                                    
                                    var divContador = document.getElementById("divContador" + (index + 1));
                                    divContador.classList.add("text-right");
                                    divContador.innerHTML = "<strong>Debitos:</strong> " + debitosCont.toLocaleString() + " <strong>Créditos: </strong>" + creditosCont.toLocaleString();
                                },
                                error: function (xhr, status, error) {
                                    console.error("Error al obtener los datos:", error);
                                }
                            });
                        }

                        // for (var i = 0; i < botones.length; i++) {
                        //     texto = (botones[i].textContent);
                        //     texto = texto.trim();
                        //     cuentas.push(texto.split(" ")[0])

                        //     var contenedor = document.getElementById("accordion" + (i + 1));
                        //     var divCollapse = document.createElement("div");
                        //     divCollapse.id = "panelsStayOpen-collapse" + (i + 1);
                        //     divCollapse.classList.add("accordion-collapse", "collapse");
                        //     var divBody = document.createElement("div");
                        //     divBody.classList.add("accordion-body");

                        //     // Tabla
                        //     var Tabla = document.createElement("table");
                        //     Tabla.id = "tablaData" + (i + 1);
                        //     Tabla.classList.add("tablaDatos");
                        //     var encabezado = document.createElement("tr");
                        //     encabezado.innerHTML = `
                        //                                                                                             <th>Comprobante</th>
                        //                                                                                             <th>Num Comprobante</th>
                        //                                                                                             <th>Fecha</th>
                        //                                                                                             <th>Observacion</th>
                        //                                                                                             <th>Debitos</th>
                        //                                                                                             <th>Creditos</th>
                        //                                                                                         `;
                        //     Tabla.appendChild(encabezado);
                        //     var divContador = document.createElement("div");
                        //     divContador.id = "divContador" + (i + 1);

                        //     divBody.appendChild(Tabla);
                        //     divBody.appendChild(divContador);
                        //     divCollapse.appendChild(divBody);
                        //     contenedor.appendChild(divCollapse);
                        // }

                        //acordion body, sirve perfecto
                        // var valorCreditos = 0;
                        // for (var i in modelo) {
                        //     for (c of cuentas) {
                        //         var posicion = cuentas.indexOf(c);
                        //         if (modelo[i].cuenta === c) {
                        //             console.log("en el if")
                        //             Tabla = document.getElementById("tablaData" + (posicion + 1));
                        //             var filaDatos = document.createElement("tr");
                        //             filaDatos.innerHTML = "<td>" + modelo[i].codComprobante + "</td>" +
                        //                 "<td>" + modelo[i].numComprobante + "</td>" +
                        //                 "<td>" + modelo[i].fecha + "</td>" +
                        //                 "<td>" + modelo[i].observacion + "</td>" +
                        //                 "<td>" + modelo[i].valorDebitos + "</td>" +
                        //                 "<td>" + modelo[i].valorCreditos + "</td>";
                        //             Tabla.appendChild(filaDatos);

                        //             valorCreditos += parseInt(modelo[i].valorCreditos);
                        //             console.log("if despues de incremetar " + valorCreditos)
                        //             elemento = document.getElementById("divContador" + (posicion + 1));
                        //             elemento.innerHTML = "Total cuenta: " + valorCreditos;
                        //         }
                        //         else {
                        //             valorCreditos = 0;
                        //             console.log("en el else " + valorCreditos)
                        //         }
                        //         console.log(modelo[posicion])
                        //         console.log("fuera de los if "+valorCreditos)

                        //         var p = document.createElement("p");
                        //         divBody = document.getElementsByClassName('accordion-body');
                        //         divBody.textContent
                        //         divBody[posicion].appendChild(p);
                        //     }
                        // }

                    </script>
                </div>
            </div>

        </div>
    </div>
</div>
