@{
    //@model WebApplication2.Models.ReporteDatosCinco
    ViewData["Title"] = "Cinco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/cincocss.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">CINCO</h5>
                @* <p class="category">Handcrafted by our friends from <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a></p> *@
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <form asp-action="previewcinco" asp-controller="ccinco" method="post">
                            <div class="input-group no-border">
                                <input id="inputCedula" type="number" name="cedula" class="form-control" placeholder="Número de Cedula...">
                                <button type="submit" class="btn btn-primary m-1">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <script>
                        function validateForm() {
                            var inputCedula = document.getElementById('inputCedula').value;
                            if (!inputCedula) {
                                alert('Por favor, ingrese un número de cédula.');
                                return false;
                            }
                            return true;
                        }
                    </script>
                </div>
                <div class="row mt-2">
                    @if (Model != null && Model.Count > 0)
                    {                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped h-100">
                                    <thead class=" text-primary">
                                        <th>Comprobante</th>                                        
                                        <th>Fecha</th>
                                        <th>Observacion</th>
                                        <th>Cuenta</th>
                                        <th>Creditos</th>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.codComprobante</td>                                                
                                                <td>@item.fecha</td>
                                                <td>@item.observacion</td>
                                                <td>@item.cuenta</td>
                                                <td>@item.valorCreditos</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>No se encontraron datos con esa cedula</p>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>
