﻿@{
    ViewData["Title"] = "CincoData";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="@Url.Content("~/css/CincoStyles.css")" />
</head>
<body>
    <div class="body">
        <div id="informacion">
            <div class="datos">
                <h2>@Model.AportesPastor[0].cedula</h2>
                <h2>@Model.AportesPastor[0].nombre</h2>
            </div>
            <div class="infoDatos">
                <div><strong>Hora:</strong>@DateTime.Now.ToString("h:mm tt")</div>
                <div><strong>Fecha:</strong>@DateTime.Now.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
        <div class="seperadorBorde"></div>
        <table class="tablaDatos">
            <tr>
                <div><strong>10505 caja general</strong></div>
            </tr>
            <tr>
                <th>Comprobante</th>
                <th>Num Comprobante</th>
                <th>Fecha</th>
                <th>Observacion</th>
                <th>Debitos</th>
                <th>Creditos</th>
            </tr>
            @foreach (var item in Model.AportesPastor)
            {
                <tr>
                    <td>@item.codComprobante</td>
                    <td>@item.numComprobante</td>
                    <td>@item.fecha</td>
                    <td>@item.observacion</td>
                    <td>@item.valorDebitos</td>
                    <td>@item.valorCreditos</td>
                </tr>
            }
        </table>
        <div class="seperadorBorde"></div>
        <table class="tablaDatos">
            <tr>
                <div><strong>133036 GastosDirectivos</strong></div>
            </tr>
            @foreach (var item in Model.GastosDirectivos)
            {
                <tr>
                    <td>@item.codComprobante</td>
                    <td>@item.numComprobante</td>
                    <td>@item.fecha</td>
                    <td>@item.observacion</td>
                    <td>@item.valorDebitos</td>
                    <td>@item.valorCreditos</td>
                </tr>
            }
        </table>



        <div class="seperadorBorde"></div>
        <table class="tablaDatos">
            <tr>
                <div><strong>416542 Aportes de pastor</strong></div>
            </tr>
            @foreach (var item in Model.AportesPastor)
            {
                <tr>
                    <td>@item.codComprobante</td>
                    <td>@item.numComprobante</td>
                    <td>@item.fecha</td>
                    <td>@item.observacion</td>
                    <td>@item.valorDebitos</td>
                    <td>@item.valorCreditos</td>
                </tr>
            }
        </table>


    </div>


</body>
</html>
