@{
    ViewData["Title"] = "CIncoPrueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string cuentaAnterior = Model[0].cuenta; // Inicializamos una variable para almacenar el valor de la cuenta anterior
}
<link rel="stylesheet" href="@Url.Content("~/css/CincoStyles.css")" />
<div class="">
    <div id="informacion">
        <h2>@Model[0].cedula</h2>
        <h2 id="nombre">@Model[0].nombre</h2>
    </div>
    <div class="seperadorBorde"></div>
    <table class="tablaDatos">
        <tr>
            <th>Comprobante</th>
            <th>Num Comprobante</th>
            <th>Fecha</th>
            <th>Observacion</th>
            <th>Debitos</th>
            <th>Creditos</th>
        </tr>
        <tr>
            <th colspan="6" style="text-align: left;">@Model[0].cuenta @Model[0].CuentaDescripcion</th>
        </tr>
        @{
            double debito = 0;
            double credito = 0;
        }
        @foreach (var item in Model)
        {
            if (item.cuenta != cuentaAnterior)
            {
                <tr>
                    <td colspan="2">TOTAL CUENTA </td>
                    <td colspan="2">Total débito: @debito </td>
                    <td colspan="2">Total crédito: @credito </td>
                </tr>
                <tr class="separadorBorder">
                    <td colspan="6"><div class="seperadorBorde"></div> </td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: left;">@item.cuenta @item.CuentaDescripcion</th>
                </tr>
                debito = 0;
                credito = 0;
            }
            <tr>
                <td>@item.codComprobante</td>
                <td>@item.numComprobante</td>
                <td>@item.fecha</td>
                <td>@item.observacion</td>
                <td>@item.valorDebitos</td>
                <td>@item.valorCreditos</td>
            </tr>
            debito += double.Parse(item.valorDebitos);
            credito += double.Parse(item.valorCreditos);
            cuentaAnterior = item.cuenta;
        }
        <tr>
            <th colspan="2" style="text-align: right;">TOTAL CUENTA </th>
            <td colspan="2" style="text-align: left;">Total débito: @debito </td>
            <td colspan="2" style="text-align: left;">Total crédito: @credito </td>
        </tr>
    </table>
</div>

