@{
    @model WebApplication2.Models.ReporteDatosCinco
    ViewData["Title"] = "Cinco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/CincoStyles.css")" />
<div class="body">
    <form asp-action="PreviewCinco" asp-controller="CCinco" method="post">
        <input name=cedula>
        <button type="submit" class="btn btn-outline-primary m-1">buscar</button>
    </form>
    <div style="padding:20px;">
        @if (Model != null)
        {
            <div id="informacion">
                <div class="datos">
                    <h2>@Model.AportesPastor[0].cedula</h2>
                    <h2 id="nombre">@Model.AportesPastor[0].nombre</h2>
                </div>
            </div>


            <div class="seperadorBorde"></div>
            <table class="tablaDatos">
                <tr>
                    <div><strong>10505 caja general</strong></div>
                </tr>
                <tr>
                    <th>Comprobante</th>
                    <th>Num Comprobante</th>
                    <th>Fecha</th>
                    <th>Observacion</th>
                    <th>Debitos</th>
                    <th>Creditos</th>
                </tr>
                @foreach (var item in Model.AportesPastor)
                {
                    <tr>
                        <td>@item.codComprobante</td>
                        <td>@item.numComprobante</td>
                        <td>@item.fecha</td>
                        <td>@item.observacion</td>
                        <td>@item.valorDebitos</td>
                        <td>@item.valorCreditos</td>
                    </tr>
                }
            </table>
            @if (Model.SegVicepresidente.Count > 0)
            {
                <div class="seperadorBorde"></div>
                <table class="tablaDatos">
                    <tr>
                        <div><strong>110543 2o.vicepresidente</strong></div>
                    </tr>
                    @foreach (var item in Model.SegVicepresidente)
                    {
                        <tr>
                            <td>@item.codComprobante</td>
                            <td>@item.numComprobante</td>
                            <td>@item.fecha</td>
                            <td>@item.observacion</td>
                            <td>@item.valorDebitos</td>
                            <td>@item.valorCreditos</td>
                        </tr>
                    }
                </table>
            }

            @if (Model.CajaMenor.Count > 0)
            {
                <div class="seperadorBorde"></div>
                <table class="tablaDatos">
                    <tr>
                        <div><strong>110547 caja menor c.gest. medellin</strong></div>
                    </tr>
                    @foreach (var item in Model.CajaMenor)
                    {
                        <tr>
                            <td>@item.codComprobante</td>
                            <td>@item.numComprobante</td>
                            <td>@item.fecha</td>
                            <td>@item.observacion</td>
                            <td>@item.valorDebitos</td>
                            <td>@item.valorCreditos</td>
                        </tr>
                    }
                </table>
            }
            @if (Model.BogotaCtasCorrientes.Count > 0)
            {
                <div class="seperadorBorde"></div>
                <table class="tablaDatos">
                    <tr>
                        <div><strong>111006 banco de bogota ctas corrientes</strong></div>
                    </tr>
                    @foreach (var item in Model.BogotaCtasCorrientes)
                    {
                        <tr>
                            <td>@item.codComprobante</td>
                            <td>@item.numComprobante</td>
                            <td>@item.fecha</td>
                            <td>@item.observacion</td>
                            <td>@item.valorDebitos</td>
                            <td>@item.valorCreditos</td>
                        </tr>
                    }
                </table>
            }

            @if (Model.Otros.Count > 0)
            {
                <div class="seperadorBorde"></div>
                <table class="tablaDatos">
                    <tr>
                        <div><strong>138095 Otros</strong></div>
                    </tr>
                    @foreach (var item in Model.Otros)
                    {
                        <tr>
                            <td>@item.codComprobante</td>
                            <td>@item.numComprobante</td>
                            <td>@item.fecha</td>
                            <td>@item.observacion</td>
                            <td>@item.valorDebitos</td>
                            <td>@item.valorCreditos</td>
                        </tr>
                    }
                </table>
            }

            <div class="seperadorBorde"></div>
            @if (Model.GastosDirectivos.Count > 0)
            {
                <table class="tablaDatos">
                    <tr>
                        <div><strong>133036 GastosDirectivos</strong></div>
                    </tr>
                    @foreach (var item in Model.GastosDirectivos)
                    {
                        <tr>
                            <td>@item.codComprobante</td>
                            <td>@item.numComprobante</td>
                            <td>@item.fecha</td>
                            <td>@item.observacion</td>
                            <td>@item.valorDebitos</td>
                            <td>@item.valorCreditos</td>
                        </tr>
                    }
                </table>
            }

            <div class="seperadorBorde"></div>
            <table class="tablaDatos">
                <tr>
                    <div><strong>416542 Aportes de pastor</strong></div>
                </tr>
                @foreach (var item in Model.AportesPastor)
                {
                    <tr>
                        <td>@item.codComprobante</td>
                        <td>@item.numComprobante</td>
                        <td>@item.fecha</td>
                        <td>@item.observacion</td>
                        <td>@item.valorDebitos</td>
                        <td>@item.valorCreditos</td>
                    </tr>
                }
            </table>


            <form asp-action="GenerarPDF" asp-controller="CCinco" method="post">
                <input type="hidden" name="cedula" value="@Model.AportesPastor[0].cedula" />
                <input type="hidden" name="nombre" value="@Model.AportesPastor[0].nombre" />
                <button class="btn btn-primary" id="botonPDF" type="submit">Generar PDF</button>
            </form>
        }
    </div>
</div>
