@{
    ViewData["Title"] = "FiltroPorNombre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="@Url.Content("~/css/tablas.css")" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="body">
    @if (Model != null && Model.Count > 0)
    { 
    <table id="miTabla">
        <thead>
            <tr>
                    <th colspan="2">
                    <form asp-action="FiltroPorCedula" asp-controller="CPastores" method="post">
                        <div class="d-flex justify-content-center">
                            <input class="form-control d-block" type="number" id="inputCedula" name="cedula" placeholder="Cedula">
                            <button class="btn btn-primary d-block" type="submit"><img src="~/img/lupa.png"></img></button>
                        </div>
                    </form>
                </th>
                    <th colspan="2">
                    <form asp-action="FiltroPorNombre" asp-controller="CPastores" method="post">
                        <div class="d-flex justify-content-center">
                            <input class="form-control d-block" type="text" name="nombre" placeholder="Nombre">
                            <button class="btn btn-primary d-block" type="submit"><img src="~/img/lupa.png"></img></button>
                        </div>
                    </form>
                </th>
            </tr>
            <tr>
                <th>CÉDULA</th>
                <th>NOMBRE</th>
                <th>CONTACTO</th>
                <th>EMAIL</th>
                <th>DIRECCIÓN</th>
                <th>DISTRITO</th>
                <th>NOMBRE CONGREGACIÓN</th>
                <th>FECHA NACIMIENTO</th>
                <th>ESTADO PASTOR</th>
                <th>CLASE PASTOR</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.cedula</td>
                    <td>@item.nombre</td>
                    <td>@item.contacto</td>
                    <td>@item.email</td>
                    <td>@item.direccion</td>
                    <td>@item.distrito</td>
                    <td>@item.nombreCongregacion</td>
                    <td>@item.fechaNacimiento</td>
                    <td>@item.clasePastor</td>
                    <td>@item.estadoPastor</td>

                </tr>
            }
        </tbody>
    </table>

    <form asp-action="PreviewCinco" asp-controller="CCinco" method="post">
        <input class="d-none" type="number" name="cedula" value=@Model[0].cedula>
        <button class="btn btn-primary d-block" type="submit">Ir a CINCO</button>
        </form>
    }
    else
    {
        <p>No se encontraron datos</p>
    }
</div>
<script src="@Url.Content("~/js/zoom.js")"></script>
